@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
  }
  
  @media (prefers-color-scheme: light) {
    body { background: rgb(88, 80, 80); color: black; }
  }

  .footerr { color: #FF0000; }
  .white { color: rgb(248, 247, 247); }


footer {
display : table-row;
height: 10px; /* à titre d'exemple */
}
html, body {
height: 100%;
margin: 0; padding: 0;
}